body{
    background-color: black;
    color: white;
}
.poster{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}
img{
    transition: 0.3s;
}
img:hover{
    transform: scale(1.10);
}
.photo1{
    border-radius: 10%;
    width: 150px;
}
.photo2{
    width: 100%;
    border:5px solid white;
}
h1{
    text-transform: uppercase;
     font-family: "Libre Baskerville", serif; 
}
p{
    font-size: small;
    color: grey;
}
